<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="databaseConnection" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup16_test1; User ID=bgroup16;Password=bgroup16_67019"/>
  </connectionStrings>
  <appSettings>
    <add key="localhost.WebService" value="http://localhost:59776/BusinessReality/WebService.asmx"/>
  </appSettings>

</configuration>